.search {
	position: relative;
	width: 100%;
}
.search__input {
	width: 100%;
	margin: 0;
	height: 50px;
	font-size: 14px;
}
.search__button {
	border: 0;
	padding: 0;
	width: 18px;
	height: 18px;
	background-image: url('../images/search/search.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: transparent;
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
}