<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@@title</title>
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <link rel="stylesheet" href="css/libs.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__top">
                    <a href="@@webRoot" class="header__logo">
                        <img src="@@webRoot/images/header/logo.svg" alt="Логотип">
                    </a>

					<ul class="header__education-list" style="margin-right: 0;">
						<li>
							<a href="" target="_blank">
								<img src="@@webRoot/images/header/ufaras.svg" alt="">
							</a>
						</li>

						<li>
							<a href="" target="_blank">
								<img src="@@webRoot/images/header/uust.svg" alt="">
							</a>
						</li>

						<li>
							<a href="" target="_blank">
								<img src="@@webRoot/images/header/ugntu.svg" alt="">
							</a>
						</li>

						<li>
							<a href="" target="_blank">
								<img src="@@webRoot/images/header/bashgmu.svg" alt="">
							</a>
						</li>

						<li>
							<a href="" target="_blank">
								<img src="@@webRoot/images/header/bsau.svg" alt="">
							</a>
						</li>

						<li>
							<a href="" target="_blank">
								<img src="@@webRoot/images/header/bspu.svg" alt="">
							</a>
						</li>

						<li>
							<a href="" target="_blank">
								<img src="@@webRoot/images/header/imsp.svg" alt="">
							</a>
						</li>
					</ul>

					<!-- <button type="button" class="button header__button">Войти</button> -->

          <a href="@@webRoot/personal.html" class="button header__button">Личный кабинет</a>

					<button type="button" class="header__burger" style="margin-left: auto;">
                        <span></span>
                    </button>
                </div>

				<div class="header__bottom">
					<nav class="header__menu">
						<ul class="header__list">
							<li>
								<a href="@@webRoot/industries.html" class="header__link">
									Каталог научных разработок и услуг
								</a>
							</li>
		
							<li>
								<a href="@@webRoot/higher-education.html" class="header__link">
									Каталог программ высшего образования
								</a>
							</li>
		
							<li>
								<a href="@@webRoot/courses.html" class="header__link">
									Каталог программ дополнительного образования
								</a>
							</li>
		
							<li>
								<a href="@@webRoot/laboratories.html" class="header__link">
									Научные лаборатории
								</a>
							</li>
						</ul>
					</nav>

					<ul class="header__education-list">
						<li>
							<a href="" target="_blank">
								<img src="@@webRoot/images/header/ufaras.svg" alt="">
							</a>
						</li>

						<li>
							<a href="" target="_blank">
								<img src="@@webRoot/images/header/uust.svg" alt="">
							</a>
						</li>

						<li>
							<a href="" target="_blank">
								<img src="@@webRoot/images/header/ugntu.svg" alt="">
							</a>
						</li>

						<li>
							<a href="" target="_blank">
								<img src="@@webRoot/images/header/bashgmu.svg" alt="">
							</a>
						</li>

						<li>
							<a href="" target="_blank">
								<img src="@@webRoot/images/header/bsau.svg" alt="">
							</a>
						</li>

						<li>
							<a href="" target="_blank">
								<img src="@@webRoot/images/header/bspu.svg" alt="">
							</a>
						</li>

						<li>
							<a href="" target="_blank">
								<img src="@@webRoot/images/header/imsp.svg" alt="">
							</a>
						</li>
					</ul>
				</div>
            </div>			
        </header>
        <main class="main">