<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@@title</title>
	
	<link rel="stylesheet" href="css/libs.css">
	<link rel="stylesheet" href="css/personal.css">
</head>
<body>
	<header class="header">
		<div class="header__top">
			<button type="button" class="header__burger">
				<span></span>
			</button>

			<div class="header__text">
				@@title
			</div>


			<a href="@@webRoot/index.html" class="header__logo">
				<img src="@@webRoot/images/header/logo.svg" alt="Логотип">
			</a>
			
		</div>	
		
		<aside class="header__sidebar">
			<div class="header__sidebar-top">
				<div class="header__profile">
					<div class="header__profile-img">
						<img src="@@webRoot/images/header/uust.svg" alt="">
					</div>

					<div class="header__profile-name">УУНИТ</div>
				</div>
			</div>
			
			<div class="header__sidebar-inner">
				<nav class="header__menu">
					<ul class="header__list">
						<li>
							<a href="@@webRoot/personal.html" class="header__link active header__link_question">
								Руководство пользователя
							</a>
						</li>

						<li>
							<a href="@@webRoot/personal-courses.html" class="header__link header__link_courses">
								Курсы
							</a>
						</li>

						<li>
							<a href="@@webRoot/personal-programs.html" class="header__link header__link_prog">
								Программы
							</a>
						</li>

						<li>
							<a href="@@webRoot/personal-laboratories.html" class="header__link header__link_lab">
								Лаборатории
							</a>
						</li>

						<li>
							<a href="@@webRoot/personal-services.html" class="header__link header__link_services">
								Услуги
							</a>
						</li>

						<li>
							<a href="@@webRoot/personal-services.html" class="header__link header__link_dev">
								Разработки
							</a>
						</li>

						<li>
							<a href="@@webRoot/personal-directions.html" class="header__link header__link_direct">
								Направления исследования
							</a>
						</li>
					</ul>
				</nav>
	
				<div class="header__sidebar-buttons">
					<a href="@@webRoot/" class="header__link header__link_back">Вернуться на сайт</a>

					<a href="@@webRoot/" class="header__link header__link_exit">Выйти</a>
				</div>
			</div>
		</aside>
	</header>
	<main class="main">