@@include('partials/header.html', {
	"title": "Гуманитарные науки",
})

<section class="section direction">
	<div class="container">
		<a href="@@webRoot/higher-education.html" class="button-back">
			←  Вернуться к выбору направления
		</a>

		<div class="direction__top">
			<h1 class="title direction__title">
				Гуманитарные науки
			</h1>

			<form method="get" class="search direction__search">
				<input type="text" class="input search__input" placeholder="Поиск">
				<button type="submit" class="search__button"></button>
			</form>
		</div>

		<div class="direction__body">
			<div class="direction__elem accordion">
				<div class="direction__elem-top accordion-top">
					1 . География
				</div>

				<div class="direction__elem-body accordion-body">
					<div class="table">
						<table>
							<thead>
							  <tr>
								<th>Направления 
									подготовки</th>
								<th>Профиль / Магистерская
									программа /Специализация</th>
								<th>Институт / факультет, 
									университет</th>
								<th>Сетевая форма / программа двойных дипломов</th>
							  </tr>
							</thead>
							<tbody>
								<tr class="table__title">
									<td>
										Бакалавр
									</td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								@@for (var i = 1; i < 3; i++) {
									<tr>
										<td>
											Направление подготовки
										</td>
										<td></td>
										<td>ВУЗ</td>
										<td></td>
									</tr>
								}
								<tr class="table__title">
									<td>
										Магистратура
									</td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								@@for (var i = 1; i < 3; i++) {
									<tr>
										<td>
											Направление подготовки
										</td>
										<td></td>
										<td>ВУЗ</td>
										<td></td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="direction__elem accordion">
				<div class="direction__elem-top accordion-top">
					2. Право
				</div>

				<div class="direction__elem-body accordion-body">
					<div class="table">
						<table>
							<thead>
							  <tr>
								<th>Направления 
									подготовки</th>
								<th>Профиль / Магистерская
									программа /Специализация</th>
								<th>Институт / факультет, 
									университет</th>
								<th>Сетевая форма / программа двойных дипломов</th>
							  </tr>
							</thead>
							<tbody>
								<tr class="table__title">
									<td>
										Бакалавр
									</td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								@@for (var i = 1; i < 3; i++) {
									<tr>
										<td>
											Направление подготовки
										</td>
										<td></td>
										<td>ВУЗ</td>
										<td></td>
									</tr>
								}
								<tr class="table__title">
									<td>
										Магистратура
									</td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								@@for (var i = 1; i < 3; i++) {
									<tr>
										<td>
											Направление подготовки
										</td>
										<td></td>
										<td>ВУЗ</td>
										<td></td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="direction__elem accordion">
				<div class="direction__elem-top accordion-top">
					3. Название
				</div>

				<div class="direction__elem-body accordion-body">
					<div class="table">
						<table>
							<thead>
							  <tr>
								<th>Направления 
									подготовки</th>
								<th>Профиль / Магистерская
									программа /Специализация</th>
								<th>Институт / факультет, 
									университет</th>
								<th>Сетевая форма / программа двойных дипломов</th>
							  </tr>
							</thead>
							<tbody>
								<tr class="table__title">
									<td>
										Бакалавр
									</td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								@@for (var i = 1; i < 3; i++) {
									<tr>
										<td>
											Направление подготовки
										</td>
										<td></td>
										<td>ВУЗ</td>
										<td></td>
									</tr>
								}
								<tr class="table__title">
									<td>
										Магистратура
									</td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								@@for (var i = 1; i < 3; i++) {
									<tr>
										<td>
											Направление подготовки
										</td>
										<td></td>
										<td>ВУЗ</td>
										<td></td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

@@include('partials/footer.html')